/*
    Je suis assez fier de ce sélécteur oui.
    Pas la meilleure façon de gérer la liste inline à virgule c'est sûr.
 */
.misc .listing span:not(:last-child):after {
    content: ", ";
}

.misc {
    padding-bottom: 30px;
}