html, body, main {
    height: 100%;
    color: white;
    overflow-y: auto;
}

body {
    background: url('/img/mosaic.png') top left;
}

main {
    background: rgba(255,255,255, 0.1);
    border-right: solid #524E49 2px;
    border-left: solid #524E49 2px;
    padding-bottom: 30px;
}

.section-title {
    border-bottom: solid #FF8500 2px;
}


.section-subtitle {
    border*-bottom: dashed 1px #000000;
}

h3 {
    border-bottom: dashed black 2px;
    margin-bottom: 25px;
}