.skills dl dd {
    margin-top: 5px;
    margin-bottom: 15px;
}

.skills button.toggleHomeStack {
    background-color: #FF8500;
}

ul.languagesList {
    list-style: none;
}

ul.languagesList li {
    margin-bottom: 10px;
}