.skilllistitem {
    border: #FF8500 1px solid;
    margin-right: 8px;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
}

.skilllistitem[data-modal] {
    font-weight: 800;
    color: #FF8500;
}

.skilllistitem[data-modal]:hover {
    cursor: pointer;
}

.skilllistitem.perso.dimmed {
    color: #404040;
    border: #404040 solid 1px;
    opacity: 0.5
}