h1, h2 {
    color: #FF8500;
}

header ul li {
    margin-bottom: 5px;
}

header ul li span.fa {
    display: inline-block;
    width: 25px;
}

.avatar {
    position: relative;
}

.badgeSF {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
}